body {
    height: 100vh;
    margin: 0;
}

.content {
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

button {
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 250px;
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    color: #fff;
    background-color: #6200ee;
    padding: 1rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* black with 30% opacity */
    cursor: pointer;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.button-click-area {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
