﻿@page "/"

@inject IClickStateManager clickStateManager
@implements IDisposable

<div class="p-5 d-flex justify-content-center align-items-center content">
    <button onclick="createRipple(event)">
        <span class="button-click-area" @onclick="Count"></span>
        Click me!
    </button>
</div>

@code
{
    private ClickCounter counter;

    protected override void OnInitialized()
    {
        counter = new ClickCounter(clickStateManager);
    }

    private void Count() => counter.Count();

    public void Dispose() => counter.Disconnect();
}