﻿@page "/Reader"

@inject IClickStateManager ClickStateManager

<div class="p-5 d-flex justify-content-center align-items-center content">
    <div class="pt-3">
        <span>This reader does not wipe data, multiple readers can be connected</span>
        <div>
            Time since last read:
            <br /><strong>@timeSinceLastIntensityCalculation.Days</strong> days
            <br /><strong>@timeSinceLastIntensityCalculation.Hours</strong> hours
            <br /><strong>@timeSinceLastIntensityCalculation.Minutes</strong> minutes
            <br /><strong>@timeSinceLastIntensityCalculation.Seconds</strong> seconds
        </div>
        <div>Total clicks from all connections counted from last <strong>wiping</strong> read: <strong>@countResult.CurrentTotalClickCount</strong></div>
        <div>Connections: <strong>@countResult.ConnectionsCount</strong></div>
        <div>Current Intensity: <strong>@countResult.CurrentIntensity</strong></div>
        <div>Reading data every: <strong>@Constants.ClickCountInterval.TotalSeconds</strong></div>
    </div>
</div>

@code
{
    private ClickState countResult = new ClickState();
    private TimeSpan timeSinceLastIntensityCalculation;

    protected override void OnInitialized()
    {
        StartAutomaticResultFetchingOnInterval();
    }

    private void StartAutomaticResultFetchingOnInterval()
    {
        async Task CountClicksOnInterval()
        {
            while (true)
            {
                await Task.Delay(Constants.ClickCountInterval);

                countResult = ClickStateManager.GetState();
                timeSinceLastIntensityCalculation = DateTimeOffset.Now - countResult.LastIntensityCalculation;

                await InvokeAsync(StateHasChanged);
            }
        }

        InvokeAsync(async () => await CountClicksOnInterval());
    }
}